.App {
  text-align: center;
  background-color: goldenrod;
  font-family:  fantasy;
  color: black;
  width: 100%;
  height: 100%;
}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}


h1{
  padding: 30px;
}

li{
  text-align: left;
}

.beerLink{
  color: black;
  padding-right: 25px;
  display: inline;
  column-count: 5;
}

.navLink{
  color: black;
  padding-right: 25px;
}

a{
  text-align: left;
  text-transform: uppercase;
  color: black
  
}

.createNew{
  text-transform: uppercase;
  font-size: 50x;
}

.brewBttn {
  width: 200px;
  padding: 10px;
  border-radius: 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 14px;
  color: Black;
}

.logoutBttn{
  width: 200px;
  padding: 12px 0px;
  border-radius: 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 14px;
  color: Black;
  padding-left: 250;
  float: right;
  background-color: cornsilk;
}

.newBeer{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-size: 14px;
  color: black;

}

nav{
  columns: 2;
  padding: 12px 0px;
  background-color: cornsilk;
  color:darkgoldenrod
}

input{
  background: cornsilk;
  
}

.loginPg{
  padding: 30px;
}

.home{
  color: cornsilk;
}

input{

}

.signup{
  text-align: center;
  column-count: auto;
  padding: 25px
}

.beerList{
  font-size: 30px;
  column-count: 5;

}

